<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="posts" href="/tabs/posts">
      <ion-icon  aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quotes" href="/tabs/quotes">
      <ion-icon aria-hidden="true" name="at-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" href="/tabs/users">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
