<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-list *ngIf="loaded">
      <ion-item *ngFor="let item of [].constructor(15)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="!loaded">
      <ion-item *ngFor="let post of posts">
        <ion-thumbnail slot="start">
          <img alt="imagem aleatória" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-label>{{post.title}}</ion-label>
          </h3>
          <p>
            <ion-label class="container-child">
              <ion-icon name="heart-outline"></ion-icon><span>{{post.reactions?.likes}}</span>
              <ion-icon name="thumbs-down-outline"></ion-icon> <span>{{post.reactions?.dislikes}}</span>
            </ion-label>
          </p>
          <p>
            <ion-label class="container-child">
              <ion-badge *ngFor="let tag of post.tags" color="tertiary">{{tag}}</ion-badge>
            </ion-label>
          </p>
        </ion-label>

      </ion-item>
    </ion-list>
  </ion-list>

</ion-content>
